# Combine two columns into one column

## 1. Using forloop

In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('trx.csv')

In [5]:
df.head()

            uid   prod_id  order_count  cancel_count             purchase_dt
0    0010427579  10175535            1             0   2020-10-09 오후 6:59:14
1    0010427579  10225923            1             0   2020-10-13 오후 1:30:46
2  001632d78daa  10229168            1             0  2020-10-28 오후 12:46:03
3  001632fb6360  10160229            1             0   2020-10-04 오후 4:52:18
4  001632fddf03  10208586            1             0  2020-10-24 오후 12:16:10

In [6]:
purchase_list = []
for i in range(len(df)):
    tmp = df['order_count'][i] - df['cancel_count'][i]
    purchase_list.append(tmp)
purchase_list[:10]

[1, 1, 1, 1, 1, 1, 2, 1, 1, 1]

In [8]:
df = df[['uid','prod_id','purchase_dt']]
df['purchase_count'] = purchase_list

In [9]:
df.tail()

               uid   prod_id             purchase_dt  purchase_count
59  001c.627c.161d  10212771   2020-10-19 오전 8:20:34               1
60  001c.627c.5bbf  10221021  2020-10-27 오전 12:36:13               2
61  001c.627c.64db  10210598   2020-10-17 오전 8:20:47               1
62  001c.627c.64db  10245186  2020-10-26 오전 12:19:14               1
63  001c.627c.a511  10237885   2020-10-12 오전 5:09:51               2

## 2. Using apply

In [11]:
df = pd.read_csv('trx.csv')
df.head()

            uid   prod_id  order_count  cancel_count             purchase_dt
0    0010427579  10175535            1             0   2020-10-09 오후 6:59:14
1    0010427579  10225923            1             0   2020-10-13 오후 1:30:46
2  001632d78daa  10229168            1             0  2020-10-28 오후 12:46:03
3  001632fb6360  10160229            1             0   2020-10-04 오후 4:52:18
4  001632fddf03  10208586            1             0  2020-10-24 오후 12:16:10

In [12]:
df['purchase_count'] = df.apply(lambda row: row.order_count - row.cancel_count, axis= 1)
df.tail()

,uid,prod_id,order_count,cancel_count,purchase_dt,purchase_count
59,001c.627c.161d,10212771,1,0,2020-10-19 오전 8:20:34,1
60,001c.627c.5bbf,10221021,1,1,2020-10-27 오전 12:36:13,0
61,001c.627c.64db,10210598,1,0,2020-10-17 오전 8:20:47,1
62,001c.627c.64db,10245186,1,0,2020-10-26 오전 12:19:14,1
63,001c.627c.a511,10237885,1,1,2020-10-12 오전 5:09:51,0

## 3. Column operation

In [27]:
df = pd.read_csv('trx.csv')
df.tail()

,uid,prod_id,order_count,cancel_count,purchase_dt
59,001c.627c.161d,10212771,1,0,2020-10-19 오전 8:20:34
60,001c.627c.5bbf,10221021,1,1,2020-10-27 오전 12:36:13
61,001c.627c.64db,10210598,1,0,2020-10-17 오전 8:20:47
62,001c.627c.64db,10245186,1,0,2020-10-26 오전 12:19:14
63,001c.627c.a511,10237885,1,1,2020-10-12 오전 5:09:51

In [14]:
df['purchase_count'] = df['order_count'] - df['cancel_count']
df.tail()

,uid,prod_id,order_count,cancel_count,purchase_dt,purchase_count
59,001c.627c.161d,10212771,1,0,2020-10-19 오전 8:20:34,1
60,001c.627c.5bbf,10221021,1,1,2020-10-27 오전 12:36:13,0
61,001c.627c.64db,10210598,1,0,2020-10-17 오전 8:20:47,1
62,001c.627c.64db,10245186,1,0,2020-10-26 오전 12:19:14,1
63,001c.627c.a511,10237885,1,1,2020-10-12 오전 5:09:51,0

## 4. Using insert

In [28]:
tmp = df['order_count'] - df['cancel_count']
df.insert(2, 'purchase_count', tmp)
df.tail()

,uid,prod_id,purchase_count,order_count,cancel_count,purchase_dt
59,001c.627c.161d,10212771,1,1,0,2020-10-19 오전 8:20:34
60,001c.627c.5bbf,10221021,0,1,1,2020-10-27 오전 12:36:13
61,001c.627c.64db,10210598,1,1,0,2020-10-17 오전 8:20:47
62,001c.627c.64db,10245186,1,1,0,2020-10-26 오전 12:19:14
63,001c.627c.a511,10237885,0,1,1,2020-10-12 오전 5:09:51

## Finally
drop useless columns

In [19]:
df = df.drop(columns=['order_count', 'cancel_count'])
df.tail()

               uid   prod_id             purchase_dt  purchase_count
59  001c.627c.161d  10212771   2020-10-19 오전 8:20:34               1
60  001c.627c.5bbf  10221021  2020-10-27 오전 12:36:13               0
61  001c.627c.64db  10210598   2020-10-17 오전 8:20:47               1
62  001c.627c.64db  10245186  2020-10-26 오전 12:19:14               1
63  001c.627c.a511  10237885   2020-10-12 오전 5:09:51               0