In [1]:
import pandas as pd

df = pd.DataFrame({
    'A':['a1','a2','a3','a4'],
    'B':['b1','b2','b3','b4'],
    'C':['1','2','3','4'],
    'D':['100','200','300','400']
})

In [2]:
df

    A   B  C    D
0  a1  b1  1  100
1  a2  b2  2  200
2  a3  b3  3  300
3  a4  b4  4  400

In [3]:
df.melt(id_vars='A', value_vars='B')

    A variable value
0  a1        B    b1
1  a2        B    b2
2  a3        B    b3
3  a4        B    b4

In [4]:
df.melt(id_vars='A', value_vars='B', var_name='here', value_name='there')

    A here there
0  a1    B    b1
1  a2    B    b2
2  a3    B    b3
3  a4    B    b4

In [5]:
df.melt(id_vars=['A','B'], value_vars='C')

    A   B variable value
0  a1  b1        C     1
1  a2  b2        C     2
2  a3  b3        C     3
3  a4  b4        C     4

In [7]:
df.melt(id_vars='A', value_vars=['B','C'])

    A variable value
0  a1        B    b1
1  a2        B    b2
2  a3        B    b3
3  a4        B    b4
4  a1        C     1
5  a2        C     2
6  a3        C     3
7  a4        C     4

In [8]:
df.melt(id_vars=['A','B'], value_vars=['C','D'])

    A   B variable value
0  a1  b1        C     1
1  a2  b2        C     2
2  a3  b3        C     3
3  a4  b4        C     4
4  a1  b1        D   100
5  a2  b2        D   200
6  a3  b3        D   300
7  a4  b4        D   400